---
import { Image } from 'astro:assets';
import { IMAGE_LOADING } from '../../blocks';
import type { HeroSectionType as Props } from './hero.types';
import { ContainerRenderer } from '../../utils';
import { IMAGES } from '../../../content/constants/images';

const { id, backgroundImage, classNames, img, style, elements, elementsWrapperClassNames } = Astro.props as Props;

const extraClasses = Array.isArray(classNames) ? classNames.join(' ') : classNames || '';
const classes = [extraClasses].filter(Boolean).join(' ');

const imgWrapperClasses = img?.wrapperClassNames
   ? Array.isArray(img.wrapperClassNames)
      ? img.wrapperClassNames.join(' ')
      : img.wrapperClassNames
   : '';
const imgClasses = [
   Array.isArray(img?.classNames) ? img.classNames.join(' ') : img?.classNames || '',
]
   .filter(Boolean)
   .join(' ');

const backgroundImageUrl = backgroundImage?.url || '';
const backgroundImageClasses = Array.isArray(backgroundImage?.classNames)
   ? backgroundImage.classNames.join(' ')
   : backgroundImage?.classNames || '';
const backgroundImageStyle = backgroundImage?.style || {};
const elementsWrapperClass = elementsWrapperClassNames
   ? Array.isArray(elementsWrapperClassNames)
      ? elementsWrapperClassNames.join(' ')
      : elementsWrapperClassNames
   : '';
---

<section class={classes} id={id} style={style}>
   {
      backgroundImage && (
         <div
            class={backgroundImageClasses}
            style={`background-image: url(${backgroundImageUrl});`}
            style={backgroundImageStyle}
         />
      )
   }
   {
      img && (
         <div class={imgWrapperClasses}>
            <picture>
               {img.srcDesktop && (
                  <source
                     media="(min-width: 1024px)"
                     srcset={img.srcDesktop as string}
                  />
               )}
               {img.srcTablet && (
                  <source
                     media="(min-width: 640px)"
                     srcset={img.srcTablet as string}
                  />
               )}
               <Image
                  src={img.src as ImageMetadata}
                  alt={img.alt || ''}
                  class={imgClasses}
                  style={img.style}
                  loading={(img.loading as any) || IMAGE_LOADING.EAGER}
                  srcset={img.srcset || undefined}
                  sizes={img.sizes || undefined}
               />
            </picture>
         </div>
      )
   }
   {
      elements && elements.length ? (
         <div class={elementsWrapperClass}>
            {elements?.map((element) => (
               <ContainerRenderer {...element} />
            ))}
         </div>
      ) : null
   }
</section>
