---
import { Image } from 'astro:assets';
import { IMAGE_LOADING } from '../../blocks';
import type { HeroSectionType as Props } from './hero.types';
import { ContainerRenderer } from '../../utils';

const { id, backgroundImage, classNames, img, style, elements } = Astro.props as Props;

const baseClass = 'hero-section';
const extraClasses = Array.isArray(classNames) ? classNames.join(' ') : classNames || '';
const classes = [baseClass, extraClasses].filter(Boolean).join(' ');

const imgClasses = [
   Array.isArray(img?.classNames) ? img.classNames.join(' ') : img?.classNames || '',
]
   .filter(Boolean)
   .join(' ');

const backgroundImageUrl = backgroundImage?.url || '';
const backgroundImageClasses = Array.isArray(backgroundImage?.classNames) ? backgroundImage.classNames.join(' ') : backgroundImage?.classNames || '';
const backgroundImageStyle = backgroundImage?.style || {};
---

<section class={classes} id={id} style={style}>
   {
      backgroundImage && (
         <div class={backgroundImageClasses} style={`background-image: url(${backgroundImageUrl});`} style={backgroundImageStyle} />
      )
   }
   {img && <Image src={img.src as ImageMetadata} alt={img.alt || ''} class={imgClasses} style={img.style} loading={img.loading as any || IMAGE_LOADING.EAGER} />}
   {elements && elements.map((element) => <ContainerRenderer {...element} />)}
</section>
