---
import { getEntry } from "astro:content";
import { frontmatter, Content } from "../content/home.md";
import { Layout } from "../layouts";
import { Button, MediaCard } from "../components";

export interface HomeFrontMatter {
  role: string;
  introText: string;
  fullName: string;
  heroImage: string;
  ctaText: string;
  ctaLink: string;
  featuredText: string;
}

const linkedInEntry = await getEntry("social", "linkedin");
const linkedIn = linkedInEntry?.data ?? null;

const { introText, fullName, role, ctaText, ctaLink, featuredText, heroImage } =
  frontmatter as HomeFrontMatter;
---

<Layout>
  <div slot="main" class="home">
    <img src={heroImage} alt="Logo" class="hero-img" />

    <div class="intro-section">
      <p class="role">{role}</p>
      <div class="flex flex-col space-y-8">
        <div>
          <h2 class="leading-tight">{introText}</h2>
          <h1 class="leading-tight">{fullName}</h1>
        </div>
        <Content />
        <div class="flex space-x-4">
          <Button text={ctaText} href={{ url: ctaLink }} />
          {
            linkedIn && (
              <Button
                text={linkedIn.platform}
                href={{ url: linkedIn.url, targetBlank: true }}
                type="secondary"
              />
            )
          }
        </div>
      </div>
    </div>

    <div
      class="featured-section"
    >
      <h2 class="featured-heading">{featuredText}</h2>

      <MediaCard
        title="BeatSpot"
        description="BeatSpot is a mobile app that makes it easy for users to discover, explore, and book nearby hip hop concerts, battles, and festivals."
        image={{
          src: "./images/beatSpotCover.png",
          position: "right",
        }}
        actionButton={{
          text: "View Project",
          href: { url: "/projects/beatspot" },
        }}
      />

      <MediaCard
        title="SunRay"
        description="SunRay is a responsive e-commerce website for a sunglass store, designed with a clean UI and seamless shopping experience across desktop and mobile."
        image={{
          src: "./images/sunRayCover.png",
          position: "left",
        }}
        actionButton={{
          text: "View Project",
          href: { url: "/projects/sunray" },
        }}
      />

      <MediaCard
        title="Flixio"
        description="Flixio is a cross-platform streaming application designed for mobile, tablet, and desktop, allowing users to discover, search, and enjoy movies and series seamlessly across devices."
        image={{
          src: "./images/flixioCover.png",
          position: "right",
        }}
        actionButton={{
          text: "View Project",
          href: { url: "/projects/flixio" },
        }}
      />
    </div>
  </div>
</Layout>
