---
import { getCollection } from "astro:content";

export interface NavItem {
  href: string;
  label: string;
}

const navItemsEntries = await getCollection("nav");
const orderedNavItemsEntries = navItemsEntries.sort((a, b) => a.data.order - b.data.order);
const navItems: NavItem[] = orderedNavItemsEntries.map((item) => item.data);

interface Props {
  brand?: string;
  items?: NavItem[];
}

const {
  brand = "LOGO",
  items = navItems,
} = Astro.props;

const currentPath = Astro.url.pathname;
---

<nav>
  <div class="relative px-30 py-6 z-50">
    <div class="flex justify-between">
      <div class="flex-shrink-0 flex items-center">
        <a href="/"><span class="text-xl font-bold">{brand}</span></a>
      </div>

      <div class="hidden md:flex space-x-12 items-center">
        {
          items.map((item) => (
            <a href={item.href} class={`font-semibold pb-0.5 after:content-[''] after:block after:h-0.5 after:w-full after:rounded after:transition-all after:duration-100 ${currentPath === item.href ? 'after:bg-black' : 'after:bg-transparent hover:after:bg-black'}`}>
              {item.label}
            </a>
          ))
        }
      </div>

      <!-- Hamburger Icon -->
      <div class="flex items-center md:hidden">
        <button id="menu-btn" class="font-semibold focus:outline-none">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden md:hidden px-4 pb-3 space-y-2">
    {
      items.map(
        (item) => (
          <a href={item.href} class="block font-semibold text-lg">
            {item.label}
          </a>
        )
      )
    }
  </div>
</nav>
